<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon edit"></i><span class="break"></span>Form Latihan</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            @using (Html.BeginForm("Latihan", "Metro", FormMethod.Post, new { @class = "form-horizontal" }))
            {
            <fieldset>
                <div class="control-group">
                    @Html.Label("TextBoxNama", "Nama", new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextBox("TextBoxNama", "", new { @class = "span6 typeahead" })
                    </div>
                </div>

                <div class="control-group">
                    @Html.Label("TextAreaAlamat", "Alamat", new { @class = "control-label" })
                    <div class="controls">
                        @*@Html.TextArea("TextAreaAlamat", String.Empty, new { @rows = "5", @class = "span6 typeahead" })*@
                        @Html.TextArea("TextAreaAlamat", String.Empty, new { @class = "cleditor" })
                    </div>
                </div>

                <div class="control-group">
                    @Html.Label("DropDownListPropinsi", "Propinsi", new { @class = "control-label" })
                    <div class="controls">
                        @Html.DropDownList("DropDownListPropinsi",
                            new SelectList(new List<Object> {
                                new { value = "KALSEL", text ="Kalimantan Selatan" },
                                new { value = "JABAR", text ="Jawa Barat" }
                        }, "value", "text", 2), "Pilih Propinsi", new { @data_rel = "chosen" })
                    </div>
                </div>

                <div class="control-group">
                    @Html.Label("RadioButtonJenisKelamin", "Gender", new { @class = "control-label" })
                    <div class="controls">
                        @Html.RadioButton("RadioButtonJenisKelamin", "Laki-laki") Laki-Laki
                    </div>
                    <div class="controls">
                        @Html.RadioButton("RadioButtonJenisKelamin", "Wanita") Wanita
                    </div>
                </div>

            </fieldset>
            }
        </div>
    </div><!--/span-->
</div><!--/row-->
